#dateSelect {
    text-align: left;
    width: 80px;
    display:inline-block;
}

#dateLabel {
    display:inline-block;

.tweetPopup {
    background-color: #fec;
    border: 1px solid #000;
    padding: 5px;
    width: 300px;
}

.tweetPopup img.avatar {
    height: 48px;
    margin-bottom: 2px;
    width: 48px;
}

.tweetPopup span {
    display: inline-block;
    max-width: 100px;
}

.tweetPopup .displayName {
    font-size: large;
    font-weight: 600;
}

.tweetPopup .message {
    background-color: #fff;
    border: 1px solid #000;
    padding: 2px;
}